{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container" id="detail-content">
        <h2 class="title-block">
            <span class="title-text">{{ recipe.title }}</span>
        </h2>
        <div class="row g-0">
            <div class="d-none d-md-block col-md-6 masthead-image" id="detail-image">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="https://res.cloudinary.com/dofxnvsmw/image/upload/v1654943500/placeholder_ynfa2w.png" width="100%">
                {% else %}
                <img src=" {{ recipe.featured_image.url }}" width="100%">
                {% endif %}
            </div>
            <div class="col-md-6 masthead-text" id="ingridients">
                <p>{{ recipe.author }} | {{ recipe.created_on }} </p>
               <div class="row">
                <!-- Number of comments -->
                <div>
                    <span id="likes-comments">
                        {% with comments.count as total_comments %}
                        <strong><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </span>
                  
                    <!-- Likes button -->
                    <strong>
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'recipe_like' recipe.pk%}" METHOD="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="recipe_id" value="{{recipe.pk}}"><i class="fas fa-heart"></i></button>
                            
                            {% else %}
                            <button type="submit" name="recipe_id" value="{{recipe.pk}}"><i class="far fa-heart"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span><i class="far fa-heart"></i></span>
                        {% endif %}
                        <span id="number-l">{{ recipe.number_of_likes }}</span>
                    </strong>
                </div>
                <div>
              
                </div>
            </div>
                <h3>Ingridents:</h3>
                <p class="card-text">{{ recipe.ingridients | safe }}</p>
            </div>
           
        </div>
        <h3 class="directions">Directions:</h3>
        <p class="card-text" id="ingridients-list">{{ recipe.content | safe }}</p>
    </div>
</div>
<br>
<div class="container">

    <!-- <div class="row">
        <div class="col">
            <hr>
        </div>
    </div> -->
    <div class="container" id="comments-section">
        <div class="row">
                  <!-- Existing comments-->
        <div class="d-md-block col-md-6">
            <h3>Comments:</h3>
            <div>
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                       {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                          {{ comment.created_on }}
                        </span> wrote:
                    </p>
               <span class="comment-text">{{ comment.body | linebreaks }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
              <!-- Leave a comment: -->
            <div class="d-md-block col-md-6" id="">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
     
    </div>
</div>

{% endblock content %}