{% extends "base.html" %}
{% block content %}

<!-- <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->


 <!-- Main hero image landing -->
<div class="hero-image">
    <h1>
        "First we eat, <i class="fa-solid fa-burger"></i>
   <br><span class="second-line"><span class="then">Then we do</span><br><span class="third"> everything else."</span></span> </h1>
    <h3 class="author">M.F.K.Fisher</h3>
</div>


<h2>New Recipes</h2>
<div class="container-fluid">
    <div class="row">
        <!-- Recipes cards -->
        <div class="col-12 mt-3 left" id="card-container">
            <div class="row">
                {% for recepte in receptes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                               
                                <img class="card-image" src=" {{ recepte.image.url }}">
                             
                            </div>
                            <!-- <a href="{% url 'recipe' recepte.pk  %}"> -->
                                <h2 class="card-title">{{ recepte.name }}</h2>
    
                            <!-- </a> -->
                            <hr />
                            <p class="card-bottom">Created at: | {{ recepte.created_at }} <i class="far fa-heart"></i>
                           </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}