/* ----- SEARCH ------ */

#search {
    width: 50%;
    margin: 10% auto;
}

/* ----- CATEGORIES ------ */

#categories-navbar {
    background-color: #fffadc;
}

#category-nav-items > li {
    margin: 0 13px;
    padding: 0;
}

