/* ----- SEARCH ------ */

#search {
    width: 50%;
    margin: 10% auto;
}

/* ----- CATEGORIES ------ */

#categories-navbar {
    /* background-color: #fffadc; */
    background: rgba(255, 122, 89, .5);
}

#category-nav-items > li {
    margin: 0 13px;
    padding: 0;
}

