@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* ----- NAV BAR ------ */

#main-nav {
    border-bottom: 0.5px solid #fffadc;
    background-color: #E4F5E7;
    margin: 0;
    width: 100%;
    z-index: 9;
    height: 94px;
}

.navbar-light .navbar-nav .nav-link {
    color: #5b5959;
}

.mobile-menu {
    background-color: #E4F5E7;
}

#main-middle {
    margin: 0 auto;
}

#main-middle > li {
    margin: 0 1%;
}

#login-bar {  
    margin-right: 20px;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    white-space: nowrap;
}

.nav-item:hover {
    border-bottom: 3px solid yellow;
}

/* ----- HERO LANDING PAGE ------ */

#message-box {
    position: absolute;
    z-index: 10;
    margin-top: 135px;
    text-align: center;
}

.hero-image {
    height: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%), url(https://res.cloudinary.com/dofxnvsmw/image/upload/v1653851497/hero_pucrqd.png) rgba(40, 40, 40, 0.5) fixed; 
  }

  h1 {
      color: #fffadc;
      font-size: 9rem;
      font-family: 'Abril Fatface';
      text-align: center;
      font-weight: normal;
      line-height: 0.4;
  }

  .hero-text {
      padding-top: 180px;
  }

  .then {
      font-size: 2rem;
      font-weight: 400;
  }

  .second-line {
      text-transform: uppercase;
      font-family: 'Nanum Gothic', sans-serif;
      color: #fffadc;
      font-size: 4rem;
      letter-spacing: 3px;
  }

  .third {
      font-weight: bold;
      border-bottom: 5px solid;
      letter-spacing: 7px;
  }

  .author {
      text-align: right;
      margin-right: 50px;
      font-family: 'Nanum Gothic', sans-serif;
      color: #fffadc;
      text-transform: capitalize;
  }

.contrast-div {
    background: rgb(246, 162, 142);
    height: 30px;
}

.background-contrast {
    background-color: #fffef8fb;
}
/* ----- RECIPE CARDS ------ */

#card-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.card-body {
    padding: 0px;
}

.card-body:hover {
    border-bottom: 3px solid yellow;
    background-color: #fffdf0;
}

h2 {
    font-size: 22px;
    color: #333;
    font-weight: 500;
    display: block;
    line-height: 1.3;
    margin: 1rem;
}

a {
    text-decoration: none; 
}

.card-image {
    object-fit: cover;
    height: 245px;
    width: 100%;
    padding: 0 !important;
}

.card-title {
    display: block;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.card-bottom {
    color: grey;
    margin-left: 1rem;
}

.created-by {
    color: #F47A00;
}

.pagination {
    padding-bottom: 150px;
    padding-top: 40px;
}

/* ----- PAGINATION ------ */

.pagination > li > a {
    color:#439A86;
}

/* ----- FOOTER ------ */


footer {

    background-color: #E4F5E7;
    min-height: 240px;
}

#footer-links a {
    color: #F47A00 !important;
}

.footer-brand div {
    margin-top: 3%;
    color: #F47A00;
    font-family: 'Montserrat', sans-serif;

}

/* ----- RECIPE DETAIL ------ */

#detail-content {
    padding: 0 8%;
}

#detail-image, #ingridients {
    padding-top: 3%;
}

#ingridients {
    padding-left: 3%;

}
.title-text {
    padding-bottom: 1%;
    
    border-bottom: 3px solid yellow;
    letter-spacing: .075rem;    
}

.title-block {
    text-align: center;
    padding-top: 6%;
}

#likes-comments {
    color: #439A86;
}

.fa-heart, #number-l {
    color: #FF1616;
}

button {
    border: 0;
    background-color: transparent;
    padding-left: 3%;
    /* background-color: #a3d2bf !important; */
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 3%;;
}

.directions {
    text-align: center;
    padding-top: 3%;
    display: inline-block;
}

.button-area {
    text-align: right;
}

#delete {
    background-color:#FF1616;
}

.delete-recipe {
    margin: 50px auto;
    width: 33%;
    text-align: center;
}

/* ----- COMMENTS SECTION ------ */

#comments-section {
    display: inline-block;
    border-top: 3px solid yellow;
    padding: 3% 8%;
}

textarea {
    height: 60px;
    width: 380px;
}

.btn-success {
   background-color: #439A86;
}

.btn-success:hover {
    color: #fffadc;
    background-color: #439A86;
}


.auth-container {
    margin: 80px auto;
    width: 50%;
}

/* ----- MEDIA QUERIES ------ */


@media screen and (max-width: 995px) {

    #main-nav {
        height: 120px;
        padding-right: 25px;
    }

    h1 {
        font-size: 7rem;
        line-height: 0.8;
    
    }

    .hero-text {
        padding-top: 50px;
    }
}


@media screen and (max-width: 770px) {

    h1 {
        font-size: 6rem;
    }
    footer {
        min-height: 290px;
    }

}

@media screen and (max-width: 510px) {

    h1 {
        font-size: 6rem;
    }
    .third {
        font-size: 3rem;
        letter-spacing: 4px;
    }

}

@media screen and (max-width: 380px) {

    h1 {
        font-size: 5rem;
        line-height: 0.8;
    }

    .then {
        font-size: 1rem;
    }
    .second-line {
        font-size: 2rem;
    }

    .third {
        font-size: 3rem;
        letter-spacing: 4px;
    }
    .hero-text {
        padding-top: 70px;
    }

    .author {
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: small;
    }

    .navbar-brand img {
        width: 200px;
    }

    .auth-container {
        margin: 40px auto;
        width: 90%;
        text-align: center;
    }

    .delete-recipe {
        margin: 50px auto;
        width: 100%;
        text-align: center;
        font-size: larger;
    }

}


