@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* ----- NAV BAR ------ */

#main-nav {
    border-bottom: 0.5px solid #fffadc;
    background-color: #E4F5E7;
    margin: 0 10px;
    margin: 0;
}

#login-bar {  
    margin-right: 20px;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: SemiBold 600;
}

.nav-item:hover {
    border-bottom: 3px solid yellow;
}



/* ----- HERO LANDING PAGE ------ */

.hero-image {
    min-height: 800px;
    background:url(https://res.cloudinary.com/dofxnvsmw/image/upload/v1653851497/hero_pucrqd.png) rgba(40, 40, 40, 0.5);
    background-size: cover;
    background-blend-mode: overlay;
  }

  h1 {
      color: #fffadc;
      font-size: 8rem;
      font-family: 'Abril Fatface';
      text-align: center;
      padding: 130px;
      font-weight: normal;
      line-height: 0.8;

  }

  .then {
      font-size: 4rem;
      font-weight: 400;
  }

  .second-line {
      text-transform: uppercase;
      font-family: 'Nanum Gothic', sans-serif;
      color: #fffadc;
      font-size: 5rem;
      letter-spacing: 3px;
  }

  .third {
      font-weight: bold;
      border-bottom: 5px solid;
      padding-bottom: 10px;
      letter-spacing: 6px;
  }

  .author {
      text-align: right;
      margin-right: 50px;
      color: #fff;
      font-family: 'Nanum Gothic', sans-serif;
      color: #fffadc;
  }

/* ----- RECIPE CARDS ------ */

#card-container {
    width: 86%;
    margin: 0 auto;
}

.card-body {
    padding: 0;
}

.card-body:hover {
    border-bottom: 3px solid yellow;
    border-right: 3px solid yellow;
}

h2 {
    font-size: 22px;
    color: #333;
    font-weight: 500;
    display: block;
    line-height: 1.3;
    padding: 1rem;
    padding-bottom: 0;
}

a {
    text-decoration: none; 
}

.card-image {
    height: 230px;
    width: 100%;
    padding: 0 !important;
}

.card-bottom {
    color: #F47A00;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.card {
    max-width: 360px;
    max-height: 360px;
    margin: 15px auto;
}

/* ----- FOOTER ------ */


footer {
    background-color: #E4F5E7;
    min-height: 250px;
}

footer > p {
    color: #F47A00;
    margin: 30px;
}


/* ----- RECIPE DETAIL ------ */

#detail-content {
    padding: 0 8%;
}

#detail-image, #ingridients {
    padding-top: 3%;
}

#ingridients {
    padding-left: 3%;

}
.title-text {
    padding-bottom: 1%;
    
    border-bottom: 3px solid yellow;
    letter-spacing: .075rem;    
}

.title-block {
    text-align: center;
    padding-top: 6%;
}

#likes-comments {
    color: #439A86;
}

.fa-heart, #number-l {
    color: #FF1616;
}

button {
    border: 0;
    background-color: transparent;
    padding-left: 3%;
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 3%;;
}

.directions {
    text-align: center;
    padding-top: 3%;
    display: inline-block;
}

.button-area {
    text-align: right;
}

#delete {
    background-color:#FF1616;
}
/* ----- COMMENTS SECTION ------ */


#comments-section {
    display: inline-block;
    border-top: 3px solid yellow;
    padding: 3% 8%;
}

textarea {
    height: 60px;
    width: 380px;
}

.btn-success {
   background-color: #439A86;
}

.btn-success:hover {
    color: #fffadc;
    background-color: #439A86;
}


/* ----- SEARCH ------ */


#search {
    width: 50%;
    margin: 10% auto;
}

/* ----- CATEGORIES ------ */

.categories-navbar {
    background-color: #fffadc;
    text-align: center;
}

