@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* ----- NAV BAR ------ */

#main-nav {
    background-color: red;
}


/* ----- HERO LANDING PAGE ------ */

.hero-image {
    min-height: 800px;
    background:url(https://res.cloudinary.com/dofxnvsmw/image/upload/v1653851497/hero_pucrqd.png) rgba(40, 40, 40, 0.5);
    background-size: cover;
    background-blend-mode: overlay;
  }

  h1 {
      color: #fffadc;
      font-size: 8rem;
      font-family: 'Abril Fatface';
      text-align: center;
      margin: 210px 200px 0 200px;
      font-weight: normal;
      line-height: 0.8;

  }

  .then {
      font-size: 4rem;
      font-weight: 400;
  }

  .second-line {
      text-transform: uppercase;
      font-family: 'Nanum Gothic', sans-serif;
      color: #fffadc;
      font-size: 5rem;
      letter-spacing: 3px;
  }

  .third {
      font-weight: bold;
      border-bottom: 5px solid;
      padding-bottom: 10px;
      letter-spacing: 6px;
  }

  .author {
      text-align: right;
      margin-right: 50px;
      color: #fff;
      font-family: 'Nanum Gothic', sans-serif;
      color: #fffadc;
  }

/* ----- RECIPE CARDS ------ */

#card-container {
    width: 85%;
    margin: 90px auto;
    padding-top: 100px;
}

.card-body {
    padding: 0;
}

h2 {
    font-size: 15px;
    font-size: 24px;
    color: #333;
    font-weight: 500;
    display: block;
    line-height: 1.3;
    margin-bottom: 8px;
    /* margin-top: 10px;  */
    padding: 1rem;
}

a {
    text-decoration: none; 
}

.card-image {
    height: 230px;
    width: 100%;
    padding: 0 !important;
}

.card-bottom {
    color: #F47A00;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.card {
    max-width: 360px;
    max-height: 360px;
    margin: 13px;
}
