
/* ----- ADD RECIPE ------ */

.edit-recipe-container {
    margin-top: 100px;
    margin-bottom: 150px;
    width: fit-content;
}

.auth-message {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
