{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Meal Prep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Healthy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Vegetaran</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Soup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Light</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Grilled</a>
        </li>

           <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Deserts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Meat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Fish</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Kids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Easy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Cheesy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Breakfast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Party</a>
        </li>

    </div>
  </div>
</nav>

 <!-- Healthy -->
<div class="container-fluid container">
  <h2 class="title-block">
    <span class="title-text">Healthy</span>
</h2>
    <div class="row">
      <div class="col-12 mt-3 left">
          <div class="row healthy-results" id="card-container">

          </div>
      </div>
    </div>
</div>

 <!-- Vegetarian -->
<div class="container-fluid container">
  <h2 class="title-block">
    <span class="title-text">Vegetarian</span>
</h2>
    <div class="row">
      <div class="col-12 mt-3 left">
          <div class="row vegetarian-results" id="card-container">

          </div>
      </div>
    </div>
</div>

 <!-- Deserts -->
 <div class="container-fluid container">
  <h2 class="title-block">
    <span class="title-text">Deserts</span>
</h2>
    <div class="row">
      <div class="col-12 mt-3 left">
          <div class="row deserts-results" id="card-container">

          </div>
      </div>
    </div>
</div>
{%endblock%}

