{% extends "base.html" %}
{% block content %}

<h2 class="title-block">
    <span class="title-text">Delete Recipe:</span>
</h2>
<br>
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="image-container">
                        {% if "placeholder" in recipe.featured_image.url %}
                        <img class="card-image"
                        src="https://res.cloudinary.com/dofxnvsmw/image/upload/v1654943500/placeholder_ynfa2w.png">
                        {% else %}
                        <img class="card-image" src=" {{ recipe.featured_image.url }}">
                        {% endif %}
                    </div>
                    <a href="{% url 'recipe_detail' recipe.pk  %}">
                        <h2 class="card-title">{{ recipe.title }}</h2>
                    </a>
                    <hr/>
                    <p class="card-bottom">Created by: {{ recipe.author }}  | <i class="far fa-heart"></i>
                    {{ recipe.number_of_likes }}</p>
            </div>
        </div>
       <strong>

        <form action="" method="post" enctype="multipart/form-data" class="delete-recipe">
            {% csrf_token %}
            <p>Are you sure you want to delete this recipe?</p>
            <button class="btn btn-success" id="delete" type="submit">Delete Recipe!</button> 
        </form>
    </div>   
    </div>
</div>

{% else %}
<h2 class="auth-message">Please <a href="{% url 'account_signup' %}">register</a> or <a href="{% url 'account_login' %}">sign in</a>to access this page.</h2>
{% endif %}

{% endblock content %}

