{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
  <div>
    <h2 class="title-block">
      <span class="title-text">My Favorites</span>
  </h2>
    <div class="row">
        <!-- Recipes cards -->
        <div class="col-12 mt-3 left" id="card-container">
            <div class="row">
                {% for recipe in new %}
                <div class="col-md-4 col-md-6 col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img class="card-image"
                                src="https://res.cloudinary.com/dofxnvsmw/image/upload/v1654943500/placeholder_ynfa2w.png">
                                {% else %}
                                <img class="card-image" src=" {{ recipe.featured_image.url }}">
                                {% endif %}
                            </div>
                            <a href="{% url 'recipe_detail' recipe.pk  %}">
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <!-- <p class="excerpt-text">{{ recipe.excerpt }}</p> -->
                            </a>
                            <hr />
                            <small> 
                                <p class="card-bottom">Created by: <span class="created-by">{{ recipe.author }}</span>    
                                <i class="far fa-heart"></i>
                                <span id="number-l">{{ recipe.number_of_likes }}</span>
                                </p>
                            </small>
                        </div>
                    </div>
                </div>
              
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% else %}
<h2 class="auth-message">Please <a href="{% url 'account_signup' %}">register</a> or <a href="{% url 'account_login' %}">sign in</a>, so you can add new recipes!</h2>
{% endif %}
{%endblock%}
