{% extends "base.html" %}
{% block content %}

<h2 class="title-block">
    <span class="title-text">Update Recipe:</span>
</h2>
{% if user.is_authenticated %}
    {% if user.is_authenticated %}
        <div class="container-fluid container">
            {% for message in messages %}
            <br>
            <p>{{message}}</p>
                {% endfor %}
            <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row search-results" id="new-recipe-container">
                    <p>Posting as: {{ user.username }}</p>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ form.media}}
                        {{ form.as_p}}
                        <tr>
                        <td>
                        <button class="btn btn-success" type="submit">Update</button>
                        </td>
                        </tr>
                    </table>
                    </form>
                </div>
            </div>
            </div>
        {% else %}
        <h2 class="auth-message">Please <a href="{% url 'account_signup' %}">register</a> or <a href="{% url 'account_login' %}">sign in</a>to access this page.</h2>
        {% endif %}
{% else %}
<h2 class="auth-message">Please <a href="{% url 'account_signup' %}">register</a> or <a href="{% url 'account_login' %}">sign in</a>to access this page.</h2>
{% endif %}

<!-- <div class="new-recipe">
    {% for message in messages %}
    <br>
    <p>{{message}}</p>
        {% endfor %}

    <h2>Add new recipe:</h2>
    <div id="new-recipe-container">
        <p>Posting as: {{ user.username }}</p>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <table>
                {{ form.media}}
                {{ form.as_p}}
                <tr>
                    <td>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
        
    </div>
 
</div> -->









{%endblock%}